@mixin flex-row() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-col() {
  @include flex-row;
  flex-direction: column;
}

// Font
$font-fam: "Montserrat", sans-serif;

// Colors
$bg-color: #19161b;
$text-color: #fff;
$text-color-sm: #b8b8b8;
$section-color: #1f1d21;
$btn-color: #ffb577;
$link-color: #c4e4ea;
$hover-color: #176396;

// Sizes
$title-size: 4rem;
$section-title: 3rem;
$title-size-sm: 2rem;
$subtitle-size: 1.25rem;
$text-size: 1rem;
$text-size-sm: 0.9rem;

// Responsive
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-l {
  @media (max-width: 425px) {
    @content;
  }
}

// More
$border-radius: 2px;
$section-padding: 0 1.7rem;
